/* Custom Fonts */
@font-face {
	font-family: Avenir;
	src: url("fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: Avenir;
	font-weight: bold;
	src: url("fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: Produkt;
	src: url("fonts/Produkt-Light.otf") format("opentype");
}

body, html {
  position: fixed;
}

body {
    background-color: #87ceeb; 
    font-family: "Avenir", Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    text-align: center;
}

hr {
    width: 80%;
    border: 1px solid black;
}

.debug-button {
    position: fixed;
    top: 10px;
    right: 10px;
}

.center-content-box {
	width: 500px;
	position: absolute;
	left: calc((100vw - 500px) / 2);
	text-align: center;
}

.center-content-box h1 {
	margin-top: 150px;
	margin-bottom: 100px;
	font-size: 300%;
}

.white-trans-bg {
    padding: 1em;
	background: rgba(255, 255, 255, 0.5);
}

.white-trans-bg button {
	margin: 1em;
	width: 400px;
	height: 50px;
	font-size: 20px;
	border: none;
	border-radius: 10px;
    text-align: center;
    background-color: #3cb371;
    color: #fff;
    font-family: "Avenir";
}

.line {
    position: fixed;
    border: 1px solid black;
}
